{#
/**
 * @file connect_four_game.html.twig
 * Default theme implementation to present Game data.
 *
 * This template is used when viewing Game pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_connect_four_game()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('connect_four_game') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
