<table class="connect-four-table">
  <thead>
  <tr>
    {% for key, header in element.headers  if key|first != '#' %}
      <th>
        {{ header }}
      </th>
    {% endfor %}
  </tr>
  </thead>

  {% for key, row in element.rows  if key|first != '#'%}
    <tr>
      {% for key, column in row.columns if key|first != '#' %}
        <td class="{{  column['#class']}}"></td>
      {% endfor %}
    </tr>
  {% endfor %}
</table>

