{#
/**
 * @file move.html.twig
 * Default theme implementation to present Move data.
 *
 * This template is used when viewing Move pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_move()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('move') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
